@charset "UTF-8";
@import url(base.css);

#visual {
  min-width: 940px;
  height: 480px;
  position: relative;
  overflow: hidden
}
#visual img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

#main section[class ^= "con"]{
  margin: 40px 0
}
#main .con-2 li{
  background: #000;
}
#main .con-2 img:hover{
  opacity:  0.7;
}
#main .con-2 img{
  display: block;
  height: 152px;
  transition: all 0.3s
}
#main .con-2 li:first-child{
  float: left;
}
#main .con-2 li:last-child{
  float: right;
}

#main .con-4 {
  border-top: 1px solid #ba000c;
  padding: 40px 0;
}
#main .con-4 h2{
  float: left;
  font-size: 25px;
  letter-spacing: -1.5px;
}
#main .sns{
  margin-left: 20px;
  float: left;
}
#main .sns a{
  display: inline-block;
  padding: 3px;
  transition: all 0.3s
}

#main .sns a:hover{
  transform:translateY(-3px);
}

#main .sns img{
  height: 22px;
}

/*con-1*/
#main .con-1-list article {
  float: left;
}
#main .con-1-list article:nth-child(2){
  width: 50%;
}
#main .con-1-list article:nth-child(2) h3{
  color:#ba0003
}

#main .con-1-list article:nth-child(2) small{
  color:#333
}

#main .con-1-list article:nth-child(1),
#main .con-1-list article:nth-child(3){
  width: 25%;
  background: #faf9f7;
}
#main .con-1-list h3 {
  padding: 20px;
}

#main .con-1-list small {
  display: block;
  margin-top: 10px;
  font-size: small;
}
#main .con-1-list img {
  width: 100%;
  display: block;
}

#main .items {
  margin-top: 40px;
  padding: 0 30px
}
#main .items li {
  float: left;
  width: 33.3333%;
  text-align: center;
}
#main .items li:not(:last-child) a {
  border-right: 3px dotted #eee
}
#main .items a {
  display: block;
/*  overflow: hidden*/
}
#main .items a:hover img {
  transform: translateY(-5px)
}
#main .items img {
/*  width: 143px;*/
  display: inline-block;
  transition: all 0.3s
}
#main .items a:hover h4 {
  color: #ba000c
}
#main .items h4 {
  font-weight: bold;
  padding: 5px
}
/*con-3*/
#main .con-3-list article {
  float: left;
/*  width: 25%;*/
/*  box-sizing: border-box*/
  width: 23.5%;

}
#main .con-3-list article:not(:last-child) {
/*  padding-right: 10px;*/
  margin-right: 2%
}

#main .con-3-list h3 {
  font-family: "PlayB";
  margin-bottom: 10px
}
#main .con-3-list h3 + p {
  font-size: small;
  text-align: justify;
  line-height: 1.4;
  letter-spacing: -0.3px
}
#main .con-3-list .more-btn {
  margin-top: 20px
}
#main .con-3-list .more-btn a {
  display: inline-block;
  font-size: small;
  padding: 5px
}
#main .con-3-list .more-btn a:hover {
  color: #777
}
/*버튼 스타일 참고용*/
#main .con-3-list .more-btn i {
/*  margin-right: 5px;*/
  font-size: medium;
  transition: all 0.2s
}
#main .con-3-list .more-btn a:hover i {
/*  margin: 0*/
}

#main .news-list .left {
  display: block;
  float: left;
/*  글 넘침 생략처리 스타일*/
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
#main .news-list .right {
  float: right;
}

#main .icon-list {
  text-align: center; 
  margin-top: 20px
}
#main .icon-list li {
  float: left;
  width: 33.3333%
}
#main .icon-list .icon {
  display: block;
  padding: 10px 0;
}
#main .icon-list li:not(:last-child) .icon {
  border-right: 1px dotted #ddd
}
#main .icon-list .icon img {
  width: 36px;
}
#main .icon-list .icon-title {
  font-size: small
}
#main .icon-list a {
  display: block;
}
#main .icon-list img {
  opacity: 0.7;
  transition: all 0.2s
}
#main .icon-list a:hover img {
  opacity: 1;
  transform: translateY(-5px)
}


